/* css/styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

header nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    min-width: 160px;
}

header nav ul li:hover ul {
    display: block;
}

header nav ul li ul li {
    width: 100%;
}

header nav ul li ul li a {
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

header nav ul li ul li a:hover {
    background-color: #555;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"]{
    width: relative;
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 0px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
button {
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}
button:hover {
    transform: translateY(-5px);
}