body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
h1{
    margin-left: 5px;
}

 /* Basic styling for the login form */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style for input fields */
input[type="password"], input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Style for the login button */
input[type="submit"], button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 8px 0px;
}

/* Hover effect for the login button */
button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Center the login form on small screens */
@media screen and (max-width: 480px) {
   .login-container {
        width: 90%;
    }
}

button {
    box-sizing: border-box; /* You were missing the property value */
}

footer {
    text-align: center;
    padding: 0px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}