body {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #020202b4;
    color: #fff;
    padding: 10px 0;
}
h1{
    margin-left: 5px;
}

 /* Basic styling for the login form */
.logout-container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #1d1b1b;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Style for the login button */
 button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 8px 0px;
    text-align: center;
    box-sizing: border-box;
}

/* Hover effect for the login button */

button:hover {
    background-color: #0056b3;
}

/* Center the login form on small screens */
@media screen and (max-width: 480px) {
   .login-container {
    text-align: center;
        width: 90%;
    }
}

footer {
    text-align: center;
    padding: 0px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.mainLogo {
    text-align: center;
    margin-top: 5px;
}
img{
    width: 50%;
    height: 50%;
}